apiVersion: apps/v1
kind: Deployment
metadata:
  name: requestrr
  namespace: entertainment
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: requestrr
  template:
    metadata:
      labels:
        app: requestrr
    spec:
      volumes:
        - name: requestrr-config
          persistentVolumeClaim:
            claimName: requestrr-pvc
      containers:
        - name: requestrr
          image: docker.io/thomst08/requestrr:v2.1.7
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 4545
              name: http
              protocol: TCP
          volumeMounts:
            - name: requestrr-config
              mountPath: /root/config
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 5
            periodSeconds: 10
