.information-widget-logo {
  align-items: center;
  justify-content: center;
}

.information-widget-logo div {
  margin: 0 !important;
}

.service-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rounded-md {
  border-radius: 12px !important;
}

.rounded {
  border-radius: 9px !important;
}

#widgets-wrap {
  justify-content: flex-start !important;
}

.information-widget-datetime {
  display: none !important;
}

@media screen and (min-width: 1300px) {
  .information-widget-datetime {
    display: flex !important;
  }
}
