GLOBAL_FQDN=xxx

### CROWDSEC ###
CROWDSEC_API_KEY=xxx

### CLOUDFLARE ###
CLOUDFLARE_ACCOUNT_ID=xxx
CLOUDFLARE_ZONE_ID=xxx
CLOUDFLARE_API_TOKEN=xxx

### ADGUARD ###
ADGUARD_USERNAMES=xxx,yyy
ADGUARD_PASSWORDS=xxx,yyy
ADGUARD_SERVERS=xxx,yyy
ADGUARD_USERNAME=xxx
ADGUARD_PASSWORD=xxx

### PROMETHEUS ###
HOMEASSISTANT_TOKEN=xxx

### HOMEPAGE ###
AUTHENTIK_API_KEY=xxx
TAUTULLI_API_KEY=xxx
OVERSEERR_API_KEY=xxx
AUDIOBOOKSHELF_API_KEY=xxx
NEXTCLOUD_USERNAME=xxx
NEXTCLOUD_PASSWORD=xxx
MEALIE_API_KEY=xxx
IMMICH_API_KEY=xxx
PROWLARR_API_KEY=xxx
QBITTORRENT_USERNAME=xxx
QBITTORRENT_PASSWORD=xxx
RADARR_API_KEY=xxx
SONARR_API_KEY=xxx
BAZARR_API_KEY=xxx
LIDARR_API_KEY=xxx
READARR_API_KEY=xxx
NPM_USERNAME=xxx
NPM_PASSWORD=xxx
OPENWEATHERMAP_API_KEY=xxx
WEATHERAPI_API_KEY=xxx
UNIFI_USERNAME=xxx
UNIFI_PASSWORD=xxx