apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkwarden
  namespace: linkwarden
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: linkwarden
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      volumes:
        - name: linkwarden-volume
          persistentVolumeClaim:
            claimName: linkwarden-pvc
      securityContext:
        fsGroup: 1001
      containers:
        - name: linkwarden
          imagePullPolicy: IfNotPresent
          image: ghcr.io/linkwarden/linkwarden:v2.8.4
          resources:
            limits:
              memory: "2Gi"
              cpu: "1"
          ports:
            - containerPort: 3000
              protocol: TCP
              name: http
          volumeMounts:
            - name: linkwarden-volume
              mountPath: /data/data
          env:
            - name: YARN_CACHE_FOLDER
              value: /data/data/yarn-cache
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: database-url
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: nextauth-secret
            - name: NEXTAUTH_URL
              valueFrom:
                configMapKeyRef:
                  name: linkwarden-config
                  key: nextauth-url
            - name: NEXT_PUBLIC_DISABLE_REGISTRATION
              value: "true"
            - name: NEXT_PUBLIC_CREDENTIALS_ENABLED
              value: "false"
            - name: DISABLE_NEW_SSO_USERS
              value: "false"
            - name: NEXT_PUBLIC_AUTHENTIK_ENABLED
              value: "true"
            - name: AUTHENTIK_CUSTOM_NAME
              value: "Zefir's Cloud"
            - name: AUTHENTIK_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: linkwarden-config
                  key: authentik-issuer
            - name: AUTHENTIK_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: linkwarden-config
                  key: authentik-client-id
            - name: AUTHENTIK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secrets
                  key: authentik-client-secret
          startupProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
