apiVersion: apps/v1
kind: Deployment
metadata:
  name: opengist
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: opengist
  template:
    metadata:
      labels:
        app: opengist
    spec:
      volumes:
        - name: opengist-data
          persistentVolumeClaim:
            claimName: opengist-data
      containers:
        - name: opengist
          image: ghcr.io/thomiceli/opengist:1.12.1
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 6157
              protocol: TCP
              name: http
          env:
            - name: OG_GIT_DEFAULT_BRANCH
              value: main
            - name: OG_SSH_GIT_ENABLED
              value: "false"
            - name: OG_CUSTOM_LOGO
              value: server-icon.png
            - name: OG_CUSTOM_FAVICON
              value: server-icon.png
          envFrom:
            - configMapRef:
                name: opengist-config
            - secretRef:
                name: opengist-secrets
          volumeMounts:
            - name: opengist-data
              mountPath: /opengist
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
