PUBLIC_DOMAIN=xxx.com
JELLYFIN_URL=xxx.com
JELLYFIN_TOKEN=abc
PUBLIC_JELLYFIN_URL=xxx.com
UNIFI_URL=https://xxx
UNIIF_USERNAME=xxx
UNIFI_PASSWORD=xxx
TRUENAS_FLOOF_API_KEY=xxx
TRUENAS_LOOKINGGLASS_API_KEY=xxx
TRUENAS_JABBERWOCK_API_KEY=xxx
TRUENAS_FLOOF=xxx
TRUENAS_JABBERWOCK=xxx
TRUENAS_LOOKINGGLASS=xxx
JELLYSEERR_API_KEY=xxx
JELLYSEERR_BASE_URL=xxx
QBITTORRENT_URL=xxx
QBITTORRENT_USERNAME=xxx
QBITTORRENT_PASSWORD=xxx
SABNZBD_URL=xxx
SABNZBD_API_KEY=xxx