apiVersion: apps/v1
kind: Deployment
metadata:
  name: rally
  namespace: rally
spec:
  selector:
    matchLabels:
      app: rally
  template:
    metadata:
      labels:
        app: rally
    spec:
      nodeSelector:
        beta.kubernetes.io/arch: amd64
      containers:
        - name: rally
          imagePullPolicy: IfNotPresent
          image: docker.io/lukevella/rallly:4.6.1
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 10
            failureThreshold: 30
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: database_url
            - name: OIDC_NAME
              value: "Zefir's Cloud"
            - name: OIDC_DISCOVERY_URL
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: discovery_url
            - name: OIDC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: client_id
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: client_secret
            - name: SECRET_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: secret_password
            - name: NEXT_PUBLIC_BASE_URL
              valueFrom:
                configMapKeyRef:
                  key: base_url
                  name: rally-config
            - name: NOREPLY_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: noreply_email
                  name: rally-config
            - name: NOREPLY_EMAIL_NAME
              valueFrom:
                configMapKeyRef:
                  key: noreply_email_name
                  name: rally-config
            - name: SUPPORT_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: support_email
                  name: rally-config
            - name: SMTP_HOST
              valueFrom:
                configMapKeyRef:
                  key: smtp_host
                  name: rally-config
            - name: SMTP_PORT
              valueFrom:
                configMapKeyRef:
                  key: smtp_port
                  name: rally-config
            - name: SMTP_USER
              valueFrom:
                configMapKeyRef:
                  key: smtp_user
                  name: rally-config
            - name: SMTP_PWD
              valueFrom:
                secretKeyRef:
                  name: rally-secrets
                  key: smtp_password
            - name: SMTP_SECURE
              value: "false"
            - name: SMTP_TLS_ENABLED
              value: "false"
