apiVersion: apps/v1
kind: Deployment
metadata:
  name: romm
  namespace: romm
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: romm
  template:
    metadata:
      labels:
        app: romm
    spec:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
      volumes:
        - name: resources
          persistentVolumeClaim:
            claimName: romm-resources
        - name: config
          persistentVolumeClaim:
            claimName: romm-config
        - name: assets
          persistentVolumeClaim:
            claimName: romm-assets
        - name: library
          nfs:
            server: 10.0.3.1
            path: /mnt/jabberwock/romm-games
        - name: redis-data
          persistentVolumeClaim:
            claimName: romm-redis-data
      containers:
        - name: romm
          securityContext:
            runAsGroup: 1001
            runAsUser: 1001
          image: docker.io/rommapp/romm:3.7.3
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: 1Gi
              cpu: "500m"
            limits:
              memory: 2Gi
              cpu: "1"
          ports:
            - containerPort: 8080
              protocol: TCP
              name: http
          envFrom:
            - secretRef:
                name: romm-secrets
            - configMapRef:
                name: romm-config
          volumeMounts:
            - name: resources
              mountPath: /romm/resources
            - name: config
              mountPath: /romm/config
            - name: assets
              mountPath: /romm/assets
            - name: library
              mountPath: /romm/library
            - name: redis-data
              mountPath: /redis-data
          startupProbe:
            httpGet:
              path: /api/heartbeat
              port: http
            initialDelaySeconds: 270
          readinessProbe:
            httpGet:
              path: /api/heartbeat
              port: http
            initialDelaySeconds: 270
          livenessProbe:
            httpGet:
              path: /api/heartbeat
              port: http
            initialDelaySeconds: 270
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: mariadb
#   namespace: romm
# spec:
#   strategy:
#     type: Recreate
#   selector:
#     matchLabels:
#       app: mariadb
#   template:
#     metadata:
#       labels:
#         app: mariadb
#     spec:
#       securityContext:
#         fsGroup: 1001
#         runAsUser: 1001
#         runAsGroup: 1001
#       volumes:
#         - name: mariadb-pvc
#           persistentVolumeClaim:
#             claimName: mariadb-pvc
#         - name: my-cnf
#           configMap:
#             name: mariadb-cm
#       containers:
#         - name: mariadb
#           image: mariadb
#           securityContext:
#             runAsGroup: 1001
#             runAsUser: 1001
#           imagePullPolicy: IfNotPresent
#           resources:
#             requests:
#               memory: "64Mi"
#               cpu: "150m"
#             limits:
#               memory: "128Mi"
#               cpu: "300m"
#           ports:
#             - containerPort: 3306
#               protocol: TCP
#               name: mysql
#           startupProbe:
#             exec:
#               command:
#                 - /bin/bash
#                 - -c
#                 - mariadb-admin ping -uroot
#           livenessProbe:
#             exec:
#               command:
#                 - /bin/bash
#                 - -c
#                 - mariadb-admin status -uroot
#           env:
#             - name: MARIADB_ROOT_PASSWORD
#               value: mysqueal
#             - name: MARIADB_DATABASE
#               value: romm
#             - name: MARIADB_USER
#               value: romm-user
#             - name: MARIADB_PASSWORD
#               value: romm
#             - name: MARIADB_HEALTHCHECK_GRANTS
#               value: "true"
#           volumeMounts:
#             - name: mariadb-pvc
#               mountPath: /var/lib/mysql
#             - name: my-cnf
#               mountPath: /etc/mysql/my.cnf
#               subPath: my.cnf
