apiVersion: apps/v1
kind: Deployment
metadata:
  name: manyfold
  namespace: 3dprint
spec:
  selector:
    matchLabels:
      app: manyfold
  template:
    metadata:
      labels:
        app: manyfold
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: manyfold-data-pvc
        - name: config
          persistentVolumeClaim:
            claimName: manyfold-config-pvc
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: manyfold
          imagePullPolicy: IfNotPresent
          image: lscr.io/linuxserver/manyfold:0.131.0
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 0
          env:
            - name: PGID
              value: "1001"
            - name: PUID
              value: "1001"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: manyfold
                  key: database_url
            - name: REDIS_URL
              value: redis://dragonfly.databases.svc.cluster.local:6379/11
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: manyfold
                  key: secret_key_base
          ports:
            - containerPort: 3214
              name: http
              protocol: TCP
          startupProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 960
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          volumeMounts:
            - name: data
              mountPath: /libraries
            - name: config
              mountPath: /config
