apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: homeassistant
  name: homeassistant
  namespace: homeassistant
  annotations:
    secrets.infisical.com/auto-reload: "true"
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [
            {
              "name": "iot-macvlan",
              "interface": "macvlan0",
              "namespace": "smarthome"
            }
          ]
      labels:
        app: homeassistant
    spec:
      tolerations:
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 20
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 20
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      # hostNetwork: false
      # dnsPolicy: ClusterFirstWithHostNet
      initContainers:
        - name: prepare-secrets-yaml
          image: docker.io/suzukishunsuke/alpine-envsubst:0.1.0
          imagePullPolicy: IfNotPresent
          command:
            [
              "/bin/sh",
              "-c",
              "rm -rf /config/secrets.yaml && envsubst < /secrets-template.yaml > /config/secrets.yaml",
            ]
          volumeMounts:
            - name: ha-config
              mountPath: /config
            - name: ha-secrets-template
              mountPath: /secrets-template.yaml
              subPath: secrets-template.yaml
          envFrom:
            - secretRef:
                name: hassio-secrets
      containers:
        - name: homeassistant
          image: ghcr.io/home-assistant/home-assistant:2025.3.4
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
          ports:
            - name: http
              containerPort: 8123
              protocol: TCP
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          volumeMounts:
            - name: ha-config
              mountPath: /config
            - name: ha-configmap
              mountPath: /config/configuration.yaml
              subPath: configuration.yaml
      restartPolicy: Always
      volumes:
        - name: ha-config
          persistentVolumeClaim:
            claimName: homeassistant-pvc
        - name: ha-configmap
          configMap:
            name: homeassistant-config
        - name: ha-secrets-template
          configMap:
            name: hassio-secrets-template
