apiVersion: apps/v1
kind: Deployment
metadata:
  name: esphome
  namespace: smarthome
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
        - name: esphome-config
          persistentVolumeClaim:
            claimName: esphome-config
      containers:
        - name: esphome
          image: ghcr.io/esphome/esphome:2025.12.7
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "512Mi"
              cpu: "256m"
            limits:
              memory: "4Gi"
              cpu: "4"
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # startupProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          ports:
            - containerPort: 6052
              name: http
          env:
            - name: ESPHOME_DASHBOARD_USE_PING
              value: "true"
            - name: TZ
              value: Europe/Dublin
          volumeMounts:
            - name: esphome-config
              mountPath: /config
