apiVersion: apps/v1
kind: Deployment
metadata:
  name: pve-exporter
  namespace: pve-exporter
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: pve-exporter
  template:
    metadata:
      labels:
        app: pve-exporter
    spec:
      volumes:
        - name: config
          secret:
            secretName: pve-exporter-config
      containers:
        - name: pve-exporter
          image: docker.io/prompve/prometheus-pve-exporter:3.8.1
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "64Mi"
              cpu: "100m"
          ports:
            - containerPort: 9221
              name: metrics
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus
          startupProbe:
            httpGet:
              path: /
              port: metrics
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: metrics
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: metrics
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
