apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: drop-storage-pvc
  namespace: entertainment
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: jabberwock-nfs-csi
