apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      volumes:
        - name: vaultwarden-data
          persistentVolumeClaim:
            claimName: vaultwarden-data
      containers:
        - name: vaultwarden
          image: docker.io/vaultwarden/server:1.35.3
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
              protocol: TCP
              name: http
          env:
            - name: SIGNUPS_ALLOWED
              value: "false"
            - name: DISABLE_ADMIN_TOKEN
              value: "true"
            - name: PUSH_ENABLED
              value: "true"
            - name: PUSH_RELAY_URI
              value: https://api.bitwarden.eu
            - name: PUSH_IDENTITY_URI
              value: https://identity.bitwarden.eu
          envFrom:
            - configMapRef:
                name: vaultwarden-config
            - secretRef:
                name: vaultwarden-secrets
          volumeMounts:
            - name: vaultwarden-data
              mountPath: /vw-data
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
