apiVersion: apps/v1
kind: Deployment
metadata:
  name: papermc
  namespace: game-servers
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: papermc
  template:
    metadata:
      labels:
        app: papermc
    spec:
      nodeSelector:
        kubernetes.io/hostname: s7.m-nodes.zefirscloud.local
      volumes:
        - name: papermc
          hostPath:
            path: /mc-world
      containers:
        - name: papermc
          image: docker.io/itzg/minecraft-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "8Gi"
              cpu: "4"
            limits:
              memory: "16Gi"
              cpu: "6"
          ports:
            - containerPort: 25565
              protocol: TCP
              name: minecraft
            - containerPort: 9100
              protocol: TCP
              name: metrics
            - containerPort: 8100
              protocol: TCP
              name: map
          volumeMounts:
            - name: papermc
              mountPath: /data
          env:
            - name: EULA
              value: "true"
            - name: TZ
              value: Europe/Dublin
            - name: USE_AIKAR_FLAGS
              value: "true"
            - name: INIT_MEMORY
              value: 8G
            - name: MAX_MEMORY
              value: 16G
            - name: TYPE
              value: paper
            - name: VERSION
              value: "1.21.1"
            - name: ONLINE_MODE
              value: "false"
            - name: ICON
              value: https://homepage-assets.static.zefirsroyal.cloud/kitty.png
            - name: PLUGINS
              value: |
                https://gitlab.com/distant-horizons-team/distant-horizons-server-plugin/-/jobs/8146944392/artifacts/raw/DHS-0.6.1_for_MC-1.21.1.jar
                https://cdn.modrinth.com/data/fALzjamp/versions/ytBhnGfO/Chunky-Bukkit-1.4.28.jar
                https://hangarcdn.papermc.io/plugins/Flyte/PluginPortal/versions/2.0.4/PAPER/PluginPortal-2.0.4.jar
                https://github.com/Cubxity/UnifiedMetrics/releases/download/v0.3.x-SNAPSHOT/unifiedmetrics-platform-bukkit-0.3.10-SNAPSHOT.jar
                https://github.com/hyperdefined/ToolStats/releases/download/1.8.3/toolstats-1.8.3.jar
                https://github.com/EssentialsX/Essentials/releases/download/2.20.1/EssentialsX-2.20.1.jar
                https://github.com/EssentialsX/Essentials/releases/download/2.20.1/EssentialsXChat-2.20.1.jar
                https://dev.bukkit.org/projects/bluemapskinsupport/files/latest
          startupProbe:
            exec:
              command:
                - mc-monitor
                - status
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - mc-monitor
                - status
            initialDelaySeconds: 30
            periodSeconds: 30
          livenessProbe:
            exec:
              command:
                - mc-monitor
                - status
            initialDelaySeconds: 30
            periodSeconds: 30
