apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  namespace: databases
  name: postgres-cluster
spec:
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:15.13-0.4.3

  primaryUpdateStrategy: unsupervised

  enableSuperuserAccess: true

  bootstrap:
    recovery:
      source: clusterBackup

  externalClusters:
    - name: clusterBackup
      barmanObjectStore:
        destinationPath: s3://posgres-cluster-backups/
        serverName: recovered-postgres-cluster-n3
        wal:
          maxParallel: 8
        endpointURL: http://minio-svc.minio.svc.cluster.local:9000
        s3Credentials:
          accessKeyId:
            name: postgres-cluster-backup-minio
            key: MINIO_ACCESS_KEY
          secretAccessKey:
            name: postgres-cluster-backup-minio
            key: MINIO_SECRET_KEY

  storage:
    size: 80Gi
    storageClass: local-path

  monitoring:
    enablePodMonitor: true

  superuserSecret:
    name: postgres-cluster-superuser

  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 160MB
    shared_preload_libraries:
      - "vchord"
      - "vchord.so"

  backup:
    barmanObjectStore:
      destinationPath: s3://posgres-cluster-backups/
      serverName: recovered-postgres-cluster-n4
      endpointURL: http://minio-svc.minio.svc.cluster.local:9000
      s3Credentials:
        accessKeyId:
          name: postgres-cluster-backup-minio
          key: MINIO_ACCESS_KEY
        secretAccessKey:
          name: postgres-cluster-backup-minio
          key: MINIO_SECRET_KEY
      tags:
        backupRetentionPolicy: "expire"
      historyTags:
        backupRetentionPolicy: "keep"
    retentionPolicy: "7d"

  certificates:
    serverTLSSecret: postgres-cluster-cert-secret
    serverCASecret: postgres-cluster-cert-secret
