apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.11.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: "1"
          ports:
            - containerPort: 9000
              protocol: TCP
              name: http
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
          envFrom:
            - configMapRef:
                name: mealie-config
            - secretRef:
                name: mealie-secrets
          env:
            - name: OPENAI_BASE_URL
              value: http://open-webui-ollama.ai.svc.cluster.local:11434/v1
            - name: OPENAI_API_KEY
              value: sk-1234567890
            - name: OPANAI_MODEL
              value: gemma2:2b
            - name: OPENAI_ENABLE_IMAGE_SERVICES
              value: "false"
            - name: THEME_DARK_PRIMARY
              value: "#B72CDE"
            - name: THEME_LIGHT_PRIMARY
              value: "#B72CDE"
            - name: OIDC_USER_GROUP
              value: Mealie Users
            - name: OIDC_ADMIN_GROUP
              value: Mealie Admins
            - name: OIDC_PROVIDER_NAME
              value: Zefir's Cloud
            - name: OIDC_REMEMBER_ME
              value: "true"
            - name: OIDC_AUTO_REDIRECT
              value: "true"
            - name: OIDC_AUTH_ENABLED
              value: "true"
            - name: API_DOCS
              value: "true"
            - name: TZ
              value: Europe/Dublin
            - name: DB_ENGINE
              value: postgres
            - name: POSTGRES_USER
              value: mealie
            - name: POSTGRES_SERVER
              value: postgres-cluster-rw-pooler.databases.svc.cluster.local
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: mealie
            - name: PUID
              value: "0"
            - name: PGID
              value: "0"
          startupProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/app/about/startup-info
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/app/about
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
