{
	log {
		output file /var/log/caddy/caddy_main.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
	servers {
		metrics
		trusted_proxies cloudflare {
			interval 12h
			timeout 15s
		}
	}

	admin :2019

	crowdsec {
		api_url {$CROWDSEC_HOST}
		api_key {$CROWDSEC_API_KEY}
		ticker_interval 15s
	}
}

*.{$GLOBAL_FQDN} {
	tls {
		dns cloudflare {$CLOUDFLARE_API_KEY}
		resolvers 1.1.1.1
	}

	log {
		output file /var/log/caddy/all.{$GLOBAL_FQDN}.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}

	@jf host jf.{$GLOBAL_FQDN}
	handle @jf {
		reverse_proxy http://jellyfin:8096
	}

	@items host items.{$GLOBAL_FQDN}
	handle @items {
		reverse_proxy http://homebox:7745
	}

	@audiobook host audiobookshelf.{$GLOBAL_FQDN}
	handle @audiobook {
		reverse_proxy http://audiobookshelf:80
	}

	@auth host auth.{$GLOBAL_FQDN}
	handle @auth {
		reverse_proxy http://authentik:9000
	}

	@authproxied host bazarr.{$GLOBAL_FQDN}, lidarr.{$GLOBAL_FQDN}, prowlarr.{$GLOBAL_FQDN}, qbits.{$GLOBAL_FQDN}, radarr.{$GLOBAL_FQDN}, readarr.{$GLOBAL_FQDN}, sonarr.{$GLOBAL_FQDN}, thekingdom.{$GLOBAL_FQDN}
	handle @authproxied {
		reverse_proxy http://authentik:9000
	}

	@birds host birds.{$GLOBAL_FQDN}
	handle @birds {
		reverse_proxy http://plex:32400
	}

	@clicker host clicker.{$GLOBAL_FQDN}
	handle @clicker {
		reverse_proxy http://s1.nixos.nodes.zefirscloud.local:10380
	}

	@clickies host clickies.{$GLOBAL_FQDN}
	handle @clickies {
		reverse_proxy http://s1.nixos.nodes.zefirscloud.local:8001
	}

	@cupboard host cupboard.{$GLOBAL_FQDN}
	handle @cupboard {
		reverse_proxy http://paperless:8000
	}

	@den host den.{$GLOBAL_FQDN}
	handle @den {
		reverse_proxy http://overseerr:5055
	}

	@gordon host gordon.{$GLOBAL_FQDN}
	handle @gordon {
		reverse_proxy http://s1.nixos.nodes.zefirscloud.local:9925
	}

	@h host h.{$GLOBAL_FQDN}
	handle @h {
		reverse_proxy http://s1.nixos.nodes.zefirscloud.local:2137
	}

	@hellothere host hellothere.{$GLOBAL_FQDN}
	handle @hellothere {
		reverse_proxy http://wizarr:5690
	}

	@kitty host kitty.{$GLOBAL_FQDN}
	handle @kitty {
		reverse_proxy http://s1.nixos.nodes.zefirscloud.local:2222
	}

	@memos host memos.{$GLOBAL_FQDN}
	handle @memos {
		reverse_proxy http://memos:5230
	}

	@tautulli host tautulli.{$GLOBAL_FQDN}
	handle @tautulli {
		reverse_proxy http://tautulli:8181
	}

	@window host window.{$GLOBAL_FQDN}
	handle @window {
		reverse_proxy http://immich-server:3001
	}

	@graphs host graphs.{$GLOBAL_FQDN}
	handle @graphs {
		reverse_proxy http://affine:3010
	}

	@boxes host boxes.{$GLOBAL_FQDN}
	handle @boxes {
		reverse_proxy https://s1.nixos.nodes.zefirscloud.local:9444 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@grafana host grafana.{$GLOBAL_FQDN}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}

	handle {
		abort
	}
}

*.h.{$GLOBAL_FQDN} {
	reverse_proxy http://s1.nixos.nodes.zefirscloud.local:87
}

{$GLOBAL_FQDN} {
	reverse_proxy http://authentik:9000
	tls {
		dns cloudflare {$CLOUDFLARE_API_KEY}
		resolvers 1.1.1.1
	}
	log {
		output file /var/log/caddy/{$GLOBAL_FQDN}.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

portainer.local {
	reverse_proxy https://s1.nixos.nodes.zefirscloud.local:9444 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

git.{$GLOBAL_FQDN} {
	reverse_proxy http://onedev:6610
	tls {
		dns cloudflare {$CLOUDFLARE_API_KEY}
		resolvers 1.1.1.1
	}
	log {
		output file /var/log/caddy/git.{$GLOBAL_FQDN}.log {
			roll_size 100MiB
			roll_keep 5
			roll_keep_for 100d
		}
		format json
		level INFO
	}
}

http://zigbee2mqtt.local:80 {
	reverse_proxy http://zigbee2mqtt:8080
}

http://crafty.meowbox.local:80 {
	reverse_proxy https://crafty-container:8443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

http://unifi.local:80 {
	reverse_proxy https://192.168.1.1:443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

http://spoolman.local:80 {
	reverse_proxy http://spoolman:8000
}

http://prometheus.local:80 {
	reverse_proxy http://prometheus:9090
}

# crafty.{$GLOBAL_FQDN} {
#   reverse_proxy https://crafty-container:8443 {
#     transport http {
# 	  tls
# 	  tls_insecure_skip_verify
# 	}
#  }
# }
