apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller
  namespace: monitoring
  labels:
    app: unifi-poller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-poller
  template:
    metadata:
      labels:
        app: unifi-poller
    spec:
      containers:
        - name: unifi-poller
          image: ghcr.io/unpoller/unpoller:v2.24.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /
              port: metrics
          livenessProbe:
            httpGet:
              path: /
              port: metrics
          startupProbe:
            httpGet:
              path: /
              port: metrics
            failureThreshold: 30
            periodSeconds: 10
          ports:
            - containerPort: 9130
              name: metrics
              protocol: TCP
            - containerPort: 9130
              name: udp
              protocol: UDP
          volumeMounts:
            - name: config-volume
              mountPath: /etc/unpoller/up.conf
              subPath: unifi-poller.conf
      volumes:
        - name: config-volume
          secret:
            secretName: unifi-poller
