apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: palworld
  name: palworld
  namespace: game-servers
  annotations:
    reloader.stakater.com/auto: "true"
    secrets.infisical.com/auto-reload: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: palworld
  template:
    metadata:
      labels:
        app: palworld
    spec:
      nodeSelector:
        kubernetes.io/hostname: s7
      containers:
        - name: server
          image: docker.io/thijsvanloef/palworld-server-docker:v2.3.0
          imagePullPolicy: IfNotPresent
          startupProbe:
            exec:
              command: ["rest-cli", "info"]
            failureThreshold: 50
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["rest-cli", "info"]
            periodSeconds: 10
            failureThreshold: 2
          livenessProbe:
            exec:
              command: ["rest-cli", "info"]
            periodSeconds: 30
            failureThreshold: 2
          ports:
            - containerPort: 8211
              name: server
              protocol: UDP
            - containerPort: 8212
              name: http
              protocol: TCP
            - containerPort: 27015
              name: query
              protocol: UDP
            - containerPort: 25575
              name: rcon
              protocol: TCP
          envFrom:
            - configMapRef:
                name: palworld-config
            - secretRef:
                name: palworld-secrets
          volumeMounts:
            - mountPath: /palworld
              name: datadir
      volumes:
        - name: datadir
          hostPath:
            path: /palworld
