apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre
  namespace: entertainment
spec:
  revisionHistoryLimit: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: calibre
  template:
    metadata:
      labels:
        app: calibre
    spec:
      volumes:
        - name: calibre-config
          persistentVolumeClaim:
            claimName: calibre-config
        - name: calibre-ingest
          nfs:
            server: 10.0.3.1
            path: /mnt/jabberwock/cwa-book-ingest
        - name: entertainment-content
          persistentVolumeClaim:
            claimName: entertainment-content-pvc
        - name: litestream-configmap
          configMap:
            name: calibre-litestream
      initContainers:
        - name: init-litestream-metadata
          image: litestream/litestream:0.3
          imagePullPolicy: IfNotPresent
          args:
            [
              "restore",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/calibre-library/metadata.db",
            ]
          volumeMounts:
            - name: litestream-configmap
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
            - name: entertainment-content
              mountPath: /calibre-library
              subPath: media/calibre/
          envFrom:
            - secretRef:
                name: calibre-litestream-secrets
        - name: init-litestream-cwa
          image: litestream/litestream:0.3
          imagePullPolicy: IfNotPresent
          args:
            [
              "restore",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/config/cwa.db",
            ]
          volumeMounts:
            - name: litestream-configmap
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
            - name: calibre-config
              mountPath: /config
          envFrom:
            - secretRef:
                name: calibre-litestream-secrets
        - name: init-litestream-gdrive
          image: litestream/litestream:0.3
          imagePullPolicy: IfNotPresent
          args:
            [
              "restore",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/config/gdrive.db",
            ]
          volumeMounts:
            - name: litestream-configmap
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
            - name: calibre-config
              mountPath: /config
          envFrom:
            - secretRef:
                name: calibre-litestream-secrets
        - name: init-litestream-app
          image: litestream/litestream:0.3
          imagePullPolicy: IfNotPresent
          args:
            [
              "restore",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/config/app.db",
            ]
          volumeMounts:
            - name: litestream-configmap
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
            - name: calibre-config
              mountPath: /config
          envFrom:
            - secretRef:
                name: calibre-litestream-secrets
      containers:
        - name: litestream
          image: litestream/litestream:0.3
          args: ["replicate"]
          volumeMounts:
            - name: litestream-configmap
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
            - name: entertainment-content
              mountPath: /calibre-library
              subPath: media/calibre/
            - name: calibre-config
              mountPath: /config
          resources:
            requests:
              memory: 128Mi
              cpu: 125m
            limits:
              memory: 256Mi
              cpu: 250m
          envFrom:
            - secretRef:
                name: calibre-litestream-secrets
          ports:
            - name: metrics
              containerPort: 9090
              protocol: TCP
        - name: calibre
          image: docker.io/crocodilestick/calibre-web-automated:V2.1.2
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: "1"
          ports:
            - containerPort: 8083
              protocol: TCP
              name: http
          env:
            - name: TZ
              value: Europe/Dublin
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: DOCKER_MODS
              value: lscr.io/linuxserver/mods:universal-calibre-v7.16.0
          startupProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          volumeMounts:
            - name: calibre-config
              mountPath: /config
            - name: calibre-ingest
              mountPath: /cwa-book-ingest
            - name: entertainment-content
              mountPath: /calibre-library
              subPath: media/calibre/
