name: Rebuild Error Pages

on: # yamllint disable-line rule:truthy
  push:
    paths:
      - projects/errorpages/Dockerfile
      - projects/errorpages/*
      - projects/errorpages/**/*
      - .github/workflows/rebuild-errorpages.yml
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Log into registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ghcr.io/brunostjohn/homelab/errorpages
          tags: |
            type=semver,pattern={{major}}.{{minor}},value=v1.0.0
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.19.1
        with:
          platforms: linux/amd64,linux/arm64
          context: projects/errorpages
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
