name: Rebuild Postgres Image

on: # yamllint disable-line rule:truthy
  push:
    paths:
      - k8s/postgres/Dockerfile
      - .github/workflows/rebuild-postgres-image.yml
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Log into registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ghcr.io/brunostjohn/cloudnative-pg/postgresql
          tags: |
            type=semver,pattern={{major}}.{{minor}},value=v15.5.0
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.19.2
        with:
          build-args: |-
            CNPG_TAG=15.5
            PGVECTORS_TAG=v0.3.0
          platforms: linux/amd64,linux/arm64
          context: k8s/postgres
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
