apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: smarthome
spec:
  selector:
    app: mosquitto
  ports:
    - port: 1883
      targetPort: 1883
      protocol: TCP
      name: mqtt
